/* HTML */

html {
    scroll-behavior: smooth;
}

/* BODY */

body {
    font-family: 'Raleway', sans-serif;
    width: 90%;
    margin: auto;
    scroll-behavior: smooth;
}

/* HEADER */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    margin-top: 1%;
}

header div a img {
    width: 50%;
}

header nav {
    display: flex;
}

header nav ul {
    display: flex;
    list-style-type: none;
}

/*header nav ul li{

}*/

header nav ul li a {
    padding: 36px 15px 0;
    text-decoration: none;
    color: black;
    font-size: 18px;
}

header nav ul li a:hover {
    color: #0065FC;
    border-top: solid 5px #0065FC;
}

/* MAIN */

main {

}

main section {
    margin: 2% 0;
}

/* FIRST SECTION */

main section:nth-child(1) {

}

/* FORM */

main section:nth-child(1) form {
    display: flex;
    margin: 2% 0;
}

main section:nth-child(1) form i.fa-solid.fa-location-dot {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px 0 0 15px;
    height: 50px;
    width: 50px;
    background: #F2F2F2;
}

main section:nth-child(1) form input[type=text] {
    color: black;
    font-weight: bold;
    font-size: 20px;
    padding-left: 10px;
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
    border-left: 0;
    border-right: 0;
}

main section:nth-child(1) form input[type=text]::placeholder {
    color: black;
    font-weight: bold;
}

main section:nth-child(1) form input[type=text]:focus-visible {
    outline: 2px solid #0065FC;
}

main section:nth-child(1) form button[type=submit] {
    background: #0065FC;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 0 15px 15px 0;
    cursor: pointer;
    font-size: 20px;
    padding: 0 15px;
    transition: transform .2s;
}

main section:nth-child(1) form button[type=submit]:hover {
    background: #F2F2F2;
    color: black;
    transform: scale(1.1);
}

main section:nth-child(1) form button[type=submit]:after {
    content: "Rechercher"
}

/* FILTRES */

main section:nth-child(1) div.booki-filtres {
    display: flex;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin: 2% 0;
}

main section:nth-child(1) div.booki-filtres div.booki-filtres-container {
    display: flex;
    height: 50px;
}

main section:nth-child(1) div.booki-filtres h3 {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

main section:nth-child(1) div.booki-filtres div.booki-filtres-container a.booki-filtre {
    display: flex;
    align-items: center;
    align-content: center;
    margin: 0 2%;
    width: 250px;
    text-decoration: none;
    color: black;
    border: 3px solid #F2F2F2;
    border-radius: 30px;
    transition: transform .2s;
}

main section:nth-child(1) div.booki-filtres div.booki-filtres-container a.booki-filtre:hover {
    background: #0065FC;
    color: white;
    border: 2px solid #0065FC;
    transform: scale(1.1);
}

main section:nth-child(1) div.booki-filtres div.booki-filtres-container a.booki-filtre i.fa-solid {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    background: #DEEBFF;
    border-radius: 30px;
    color: #0065FC;
    margin-left: -5px;
}

main section:nth-child(1) div.booki-filtres div.booki-filtres-container .booki-filtre p {
    margin: 0 auto 0 10px;
    font-weight: bold;
}

main section:nth-child(1) p {
    display: flex;
    align-items: center;
}

main section:nth-child(1) p i.fa-solid.fa-info {
    font-weight: 900;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #F2F2F2;
    border-radius: 25px;
    margin-right: 1%;
    color: #0065FC;
}

/* SECOND SECTION */

main section:nth-child(2) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* SECOND SECTION - Hébergements à Marseille */

main section:nth-child(2) div.booki-hebergements {
    width: 65%;
    background-color: #F2F2F2;
    border-radius: 25px;
    padding: 2%;
}

main section:nth-child(2) div.booki-hebergements div.booki-hebergements-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin: 2% 0;
}

main section:nth-child(2) div.booki-hebergements div.booki-hebergements-cards a.booki-hebergement-card {
    display: flex;
    flex-direction: column;
    width: 29%;
    border-radius: 25px;
    text-decoration: none;
    color: black;
    background-color: white;
    padding: 1%;
    transition: transform .2s;
    margin-bottom: 4%;
}

main section:nth-child(2) div.booki-hebergements div.booki-hebergements-cards a.booki-hebergement-card:hover {
    transform: scale(1.1);
}

main section:nth-child(2) div.booki-hebergements div.booki-hebergements-cards a.booki-hebergement-card div.booki-hebergement-card-img {
    width: 100%;
}

main section:nth-child(2) div.booki-hebergements div.booki-hebergements-cards a.booki-hebergement-card div.booki-hebergement-card-img img {
    width: 100%;
    height: 130px;
    object-fit: cover;
    border-radius: 25px 25px 0 0;
}

main section:nth-child(2) div.booki-hebergements div.booki-hebergements-cards a.booki-hebergement-card div.booki-hebergement-card-infos {
    margin-left: 5%;
}

main section:nth-child(2) div.booki-hebergements div.booki-hebergements-cards a.booki-hebergement-card div.booki-hebergement-card-infos h3,
main section:nth-child(2) div.booki-hebergements div.booki-hebergements-cards a.booki-hebergement-card div.booki-hebergement-card-infos p {
    margin-block-start: 8px;
    margin-block-end: 8px;
}

main section:nth-child(2) div.booki-hebergements div.booki-hebergements-cards a.booki-hebergement-card div.booki-hebergement-card-infos h3{
    font-size: 16px;
}

main section:nth-child(2) div.booki-hebergements div.booki-hebergements-cards a.booki-hebergement-card div.booki-hebergement-card-infos p{
    font-size: 14px;
}

main section:nth-child(2) div.booki-hebergements div.booki-hebergements-cards a.booki-hebergement-card div.booki-hebergement-card-infos p.booki-hebergement-card-infos-description span.booki-hebergement-card-infos-description-price.bold,
main section:nth-child(2) div.booki-hebergements div.booki-hebergements-cards a.booki-hebergement-card div.booki-hebergement-card-infos p.booki-hebergement-card-infos-description span.booki-hebergement-card-infos-description-currency {
    font-weight: bold;
}

main section:nth-child(2) div.booki-hebergements div.booki-hebergements-cards a.booki-hebergement-card div.booki-hebergement-card-infos p.booki-hebergement-card-infos-rate i.fa-solid.fa-star {
    color: #F2F2F2;
}

main section:nth-child(2) div.booki-hebergements div.booki-hebergements-cards a.booki-hebergement-card div.booki-hebergement-card-infos p.booki-hebergement-card-infos-rate i.fa-solid.fa-star.score {
    color: #0065FC;
}

main section:nth-child(2) div.booki-hebergements a.booki-hebergements-show-more {
    color: black;
    font-weight: bold;
    text-decoration: none;
    font-size: 18px;
}

main section:nth-child(2) div.booki-hebergements a:hover {
    color: #0065FC;
    text-decoration: underline;
    transition: .3s;
}

/* SECOND SECTION - Les plus populaires */

main section:nth-child(2) div.booki-plus-populaires {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 26%;
    background-color: #F2F2F2;
    border-radius: 25px;
    padding: 2%;
}

main section:nth-child(2) div.booki-plus-populaires h2{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}

main section:nth-child(2) div.booki-plus-populaires div.booki-plus-populaires-cards{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 1% 0;
}

main section:nth-child(2) div.booki-plus-populaires div.booki-plus-populaires-cards a.booki-plus-populaire-card{
    display: flex;
    border-radius: 25px;
    text-decoration: none;
    color: black;
    background-color: white;
    padding: 2%;
    transition: transform .2s;
    width: 95%;
    margin: 2% auto;
    height: 170px;
}

main section:nth-child(2) div.booki-plus-populaires div.booki-plus-populaires-cards a.booki-plus-populaire-card:hover{
    transform: scale(1.1);
}

main section:nth-child(2) div.booki-plus-populaires div.booki-plus-populaires-cards a.booki-plus-populaire-card div.booki-plus-populaire-card-img{
    width: 150px;
    height: 100%;
    margin-right: 5%;
}

main section:nth-child(2) div.booki-plus-populaires div.booki-plus-populaires-cards a.booki-plus-populaire-card div.booki-plus-populaire-card-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 25px 0 0 25px;
}

main section:nth-child(2) div.booki-plus-populaires div.booki-plus-populaires-cards a.booki-plus-populaire-card div.booki-plus-populaire-card-infos{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

main section:nth-child(2) div.booki-plus-populaires div.booki-plus-populaires-cards a.booki-plus-populaire-card div.booki-plus-populaire-card-infos h3,
main section:nth-child(2) div.booki-plus-populaires div.booki-plus-populaires-cards a.booki-plus-populaire-card div.booki-plus-populaire-card-infos p {
    margin-block-start: 8px;
    margin-block-end: 8px;
}

main section:nth-child(2) div.booki-plus-populaires div.booki-plus-populaires-cards a.booki-plus-populaire-card div.booki-plus-populaire-card-infos h3{
    font-size: 16px;
}

main section:nth-child(2) div.booki-plus-populaires div.booki-plus-populaires-cards a.booki-plus-populaire-card div.booki-plus-populaire-card-infos p{
    font-size: 14px;
}

main section:nth-child(2) div.booki-plus-populaires div.booki-plus-populaires-cards a.booki-plus-populaire-card div.booki-plus-populaire-card-infos p.booki-plus-populaire-card-infos-description span.booki-plus-populaire-card-infos-description-price.bold,
main section:nth-child(2) div.booki-plus-populaires div.booki-plus-populaires-cards a.booki-plus-populaire-card div.booki-plus-populaire-card-infos p.booki-plus-populaire-card-infos-description span.booki-plus-populaire-card-infos-description-currency {
    font-weight: bold;
}

main section:nth-child(2) div.booki-plus-populaires div.booki-plus-populaires-cards a.booki-plus-populaire-card div.booki-plus-populaire-card-infos p.booki-plus-populaire-card-infos-rate i.fa-solid.fa-star {
    color: #F2F2F2;
}

main section:nth-child(2) div.booki-plus-populaires div.booki-plus-populaires-cards a.booki-plus-populaires-card div.booki-plus-populaires-card-infos p.booki-plus-populaires-card-infos-rate i.fa-solid.fa-star.score {
    color: #0065FC;
}